span.clouditem {
  margin: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.problems {
  padding-left: 6em;
}

section ul.problems-list.left {
  padding-left: 35px;
}

section th>span {
  display: block;
  text-align: left;
}

section table {
  margin-left: 6em;
}

section table.next-months {
  margin-left: 0em;
}

.next-months tr, .next-months td, .next-months th {
  padding-left: 5px;
  padding-right: 5px;
  border: double 1px rgba(128, 128, 128, 0.35);
}

.reveal .slides section .highlight-red.visible {
  color: #FF2C2D;
}